.divGeralSolicitacao {
    display: flex;
   
}
.containerPrincipalSolicitacao{
    width: 95vw;
    border: solid green;
}
.headerSolicitacao {
    display: flex;
    //border: solid red;
    width: 25vw;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, serif;
    margin-top: 1.2rem;

    p {
        font-size: 1rem;
        font-weight: 400;
    }
}

.mainSolicitacao{
    width: 100%;
}
.formSolicitacao{
width: 100%;
display: flex;
justify-content: space-between;


}
//estilização padrão para inputs, textarea, select e label
input, select, textarea{
    border-radius: 6px;
    border: solid #CBD4E1 0.8px;
    height: 5vh;
    width: 100%;
}

label{
    color: #23282F;
    font-weight: 700;
    font-size: 1rem;
}

textarea{
    height: 8vh;
}

//estilização do Grupo1
.grupo1{
//border: solid;
width: 35%;
height: 22vh;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.inputNome{
   //border: solid purple;
    width: 44%;
}

.inputEmpresa{
    //border: solid blue;
    width: 26%;
}

.inputPrest{
    //border: solid greenyellow;
    width: 26%;
}

.inputMotivo{
    //border: solid orangered;
    width: 100%;
}

.barraVertical{
    width: 0.1vw;
    border: solid #CBD4E1 1px;
    height: 20vh;
}

//estilização do grupo2
.grupo2{
    //border: solid red;
    width: 62%;
    height: 22vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

}

.inputData{
width: 20%;
}

.inputTipoDespesas{
width: 31%;
}

.inputCentroCustos{
width: 45%;
}

.inputOrdInt{
width: 7.5%;
}

.inputDiv{
    width: 7.5%;
}

.inputPep{
    width: 7.5%;
}

.inputMoeda{
    width: 11%;
}

.inputDist{
    width: 8%;
}

.inputValor{
    width: 11%;
}

.inputValFaturado{
    width: 12%;
}

.inputDespesa{
    width: 11%;
}

.buttonG2{
width: 17%;
display: flex;
justify-content: flex-end;
gap: 0.5rem;
margin-top: 1rem;

.buttonSalvar{
height: 5vh;
width: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #001A3D;
color: #FFFFFF;
}

.buttonApagar{
height: 5vh;
width: 28%;
background-color: #00BEDD;
}
}