.divGeral {
    display: flex;
}

.headerReembolsos {
    display: flex;
    //border: solid red;
    width: 9vw;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, serif;

    p {
        font-size: 1rem;
        font-weight: 400;
    }
}

.mainReembolsos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    gap: 8px;
    //border: solid green;

    .divMain {
        width: 63%;

        h1 {
            font-size: 2rem;
            font-weight: 700;
        }

        .pMain {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .Cards {
        //border: solid blue;
        display: flex;
        justify-content: space-between;
        width: 60vw;
        margin-top: 1rem;

        p {
            font-size: 1.313rem;
            font-weight: 700;

        }

    }

    .Card1 {
        width: 18vw;
        height: 25vh;
        border: solid lightgray;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 6px;
        border-width: 0.8px;
        gap: 8px;
    }

    .Card2 {
        width: 18vw;
        height: 25vh;
        border: solid lightgray;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 6px;
        border-width: 0.8px;
        gap: 8px;
    }

    .Card3 {
        width: 18vw;
        height: 25vh;
        border: solid lightgray;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 6px;
        border-width: 0.8px;
        gap: 8px;
    }

    .Indicadores {
        border: solid lightgray;
        width: 60vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 6px;
        border-width: 0.8px;
        margin-top: 1rem;

        p {
            font-size: 1rem;
            font-weight: 400;
        }

        h3 {
            font-size: 1rem;
            font-weight: 700;
        }


        .ind1 {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .bInd1 {
            background-color: #00BEDD;
            height: 4vh;
            border: none;
            width: 2vw;
            border-radius: 6px;
            padding: 6px;
        }

        .ind2 {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .bInd2 {
            background-color: #E56700;
            height: 4vh;
            border: none;
            width: 2vw;
            border-radius: 6px;
            padding: 6px;
        }

        .ind3 {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .bInd3 {
            background-color: #007A6A;
            height: 4vh;
            border: none;
            width: 2vw;
            border-radius: 6px;
            padding: 6px;
        }

        .ind4 {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .bInd4 {
            background-color: #A60B2F;
            height: 4vh;
            border: none;
            width: 2vw;
            border-radius: 6px;
            padding: 6px;
        }
    }

    .sistemaAtualizado {
        display: flex;
        //align-self: flex-start;
        //margin-left: 230px;
        gap: 8px;
        margin-top: 16px;
        width: 64%;
    }
}