main {
    display: flex;
}


.containerLogin {
    height: 100vh;
    width: 65vw;
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/Tela\ Login/imagem tela de login.png")
}

.containerForm {
    width: 35vw;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    gap: 8px;



    h1 {
        font-size: 2rem;
        width: 54%;
        text-align: center;
        font-weight: 700;

    }

    p {
        font-size: 1rem;
        font-weight: 700;
        color: #0844C4;
    }


    form {
        //border: solid blue;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        gap: 8px;


        input {
            height: 7vh;
            width: 23.5vw;
            border-radius: 6px;
            padding: 8px;
            border: 0.8px solid #CBD4E1;


        }

        a {
            padding-top: 16px;
            font-weight: 400;
            font-size: 1rem;
            color: #23282F;
            text-decoration: none;
        }

        .buttonGroup {

            width: 17vw;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding-top: 24px;
            gap: 8px;





            button {
                border-radius: 6px;
                width: 9vw;
                height: 100%;
                border: none;

            }
        }

        .containerEntrar {
            color: white;
            background-color: #001A3D;
            ;
            font-size: 1rem;
            font-weight: 700;

        }

        .containerCriar {
            color: white;
            background-color: #00BEDD;
            font-size: 1rem;
            font-weight: 700;



        }


    }
}